{% extends '../base.html' %}
{% load static %}

{% block dashboard_title %}
<title>Order - Pencilwood</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<script src="{% static 'assets/js/custom.js' %}"></script>
<main>
    <div class="container-fluid">
        <!-- Display a message if today's orders are being shown -->
        {% if request.GET.today_orders %}
        <h3 class="mt-4">Today's Orders</h3>
        {% else %}
        <h1 class="mt-4">Order Listings</h1>
        {% endif %}




        <ol class="breadcrumb mb-4 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">All Order</li>
            </div>
            <li class="breadcrumb-item ml-auto">
                <a href="{% url 'add_new_order' %}" class="btn btn-primary" style="margin-left: 10px;">
                    Add Order
                </a>
            </li>
        </ol>

        {% if messages %}
        {% for messages in messages %}
        <ol class="breadcrumb mb-4">
            <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
                <strong>Dear {{request.user}}!</strong> {{messages}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </ol>
        {% endfor %}
        {% endif %}


        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-table mr-1"></i>
                        All Order ({{page_obj.paginator.count}})
                    </div>
                    <div class="card-body">

                        <!-- -------------Order Filtering Section------------- -->
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            {% include 'orderr/partial/filtering_panel.html' %}
                        </div>
                        <!-- -------------Order Filtering Section------------- -->


                        <!-- -------------Bulk Action Section Start------------- -->
                        {% include 'orderr/partial/bulk_action_panel.html' %}
                        <!-- -------------Bulk Action Section End------------- -->

                        <!-- -------------Order List Section------------- -->
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 table-container">
                                        <table class="table table-bordered dataTable no-footer" id="dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                                            <thead>
                                                <tr class="text-uppercase" role="row">
                                                    <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                        <input type="checkbox" name="select_all" id="select_all">
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">
                                                        Action
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Created Date: activate to sort column ascending">
                                                        Date
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: fixed;">
                                                        ID
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Company: activate to sort column ascending">
                                                        Company
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">
                                                        Name
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Product: activate to sort column ascending">
                                                        Product
                                                    </th>

                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Phone Number: activate to sort column ascending">
                                                        Phone Number
                                                    </th>
                                                    {% endif %}

                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Quantity: activate to sort column ascending">
                                                        Quantity
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">
                                                        Status
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Note: activate to sort column ascending">
                                                        Note
                                                    </th>

                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Work Assign: activate to sort column ascending">
                                                        Work Assign
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending">
                                                        Address
                                                    </th>
                                                    {% endif %}

                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Delivery Date: activate to sort column ascending">
                                                        Delivery Date
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Design File: activate to sort column ascending">
                                                        Design File
                                                    </th>

                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Deal Value: activate to sort column ascending">
                                                        Deal Value
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Due Amount: activate to sort column ascending">
                                                        Due Amount
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Pathao ID: activate to sort column ascending">
                                                        SteadFast ID
                                                    </th>
                                                    {% endif %}
                                                    
                                                </tr>
                                            </thead>
                                
                                            <tbody>
                                                {% include 'orderr/partial/order_table_body.html' %}
                                                <div id="loading-icon" style="display: none; text-align: center;">
                                                    <img src="{% static 'assets/img/loading.gif' %}" alt="Loading..." />
                                                </div>
                                            </tbody>
                                
                                            
                                            <tfoot>
                                                <tr role="row" class="odd">
                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <td colspan="8" class="text-right">
                                                        Total
                                                    </td>
                                                    {% else %}
                                                    <td colspan="6" class="text-right">
                                                        Total
                                                    </td>
                                                    {% endif %}
                                
                                                    <td><strong>{{ total_quantity }}</strong></td>

                                                    {% if request.user.user_type == 'Admin' %}
                                                    <td colspan="6" class="text-right"></td>
                                                    <td><strong>{{ total_deal_value }}</strong></td>
                                                    <td><strong>{{ total_due_amount }}</strong></td>
                                                    <td colspan="1"></td>
                                                    {% else %}
                                                    <td colspan="4" class="text-right"></td>
                                                    {% endif %}
                                                    
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -------------Order List Section------------- -->

                        <!-- -------------Pagination Section------------- -->
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="dataTable_info" role="status"
                                        aria-live="polite">
                                        Showing {{page_obj.start_index}} to {{page_obj.end_index}} of
                                        {{page_obj.paginator.count}} entries
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                        <ul class="pagination">
                                            <!-- Previous button -->
                                            {% if page_obj.has_previous %}
                                            <li class="paginate_button page-item">
                                                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.product %}&product={{ request.GET.product }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.work_assign %}&work_assign={{ request.GET.work_assign }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.today_orders %}&today_orders={{ request.GET.today_orders }}{% endif %}"
                                                    class="page-link">Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="paginate_button page-item disabled">
                                                <a href="#" class="page-link">Previous</a>
                                            </li>
                                            {% endif %}

                                            <!-- Page numbers with ellipses -->
                                            {% for num in page_obj.paginator.page_range %}
                                                {% if num == 1 or num == page_obj.paginator.num_pages %}
                                                    <!-- Always show the first and last pages -->
                                                    <li class="paginate_button page-item{% if page_obj.number == num %} active{% endif %}">
                                                        <a href="?page={{ num }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.product %}&product={{ request.GET.product }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.work_assign %}&work_assign={{ request.GET.work_assign }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.today_orders %}&today_orders={{ request.GET.today_orders }}{% endif %}"
                                                        class="page-link">{{ num }}</a>
                                                    </li>
                                                {% elif num >= page_obj.number|add:"-3" and num <= page_obj.number|add:"3" %}
                                                    <!-- Show pages around the current page -->
                                                    <li class="paginate_button page-item{% if page_obj.number == num %} active{% endif %}">
                                                        <a href="?page={{ num }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.product %}&product={{ request.GET.product }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.work_assign %}&work_assign={{ request.GET.work_assign }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.today_orders %}&today_orders={{ request.GET.today_orders }}{% endif %}"
                                                        class="page-link">{{ num }}</a>
                                                    </li>
                                                {% elif num == 2 or num == page_obj.paginator.num_pages|add:"-1" %}
                                                    <!-- Display ellipses for gaps in pagination -->
                                                    <li class="paginate_button page-item disabled">
                                                        <a href="#" class="page-link">...</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            <!-- Next button -->
                                            {% if page_obj.has_next %}
                                            <li class="paginate_button page-item">
                                                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.product %}&product={{ request.GET.product }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.work_assign %}&work_assign={{ request.GET.work_assign }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.today_orders %}&today_orders={{ request.GET.today_orders }}{% endif %}"
                                                    class="page-link">Next</a>
                                            </li>
                                            {% else %}
                                            <li class="paginate_button page-item disabled">
                                                <a href="#" class="page-link">Next</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -------------Pagination Section------------- -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock dashboard_body %}