{% extends '../base.html' %}
{% load static %}

{% block dashboard_title %}
<title>Order - Pencilwood</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<main>
    <div class="container-fluid">
        <!-- Display a message if today's orders are being shown -->
        {% if request.GET.today_orders %}
        <h3 class="mt-4">Today's Orders</h3>
        {% else %}
        <h1 class="mt-4">Order Listings</h1>
        {% endif %}




        <ol class="breadcrumb mb-4 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">All Order</li>
            </div>
            <li class="breadcrumb-item ml-auto">
                <a href="{% url 'add_new_order' %}" class="btn btn-primary" style="margin-left: 10px;">
                    Add Order
                </a>
            </li>
        </ol>

        {% if messages %}
        {% for messages in messages %}
        <ol class="breadcrumb mb-4">
            <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
                <strong>Dear {{request.user}}!</strong> {{messages}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </ol>
        {% endfor %}
        {% endif %}


        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-table mr-1"></i>
                        All Order ({{page_obj.paginator.count}})
                    </div>
                    <div class="card-body">

                        <!-- -------------Order Filtering Section------------- -->
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <form method="GET" id="filter-form">
                                    
                                <div class="container-fluid">
                                    
                                        <div class="row">
                                            <!-- Filter and Reset Buttons -->
                                            <div class="col-12 d-md-none mb-1">
                                                <div class="form-group">
                                                    <button type="button"
                                                        class="form-control form-control-sm btn btn-primary"
                                                        id="filterButton">Filter</button>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <a href="{% url 'order_list' %}" class="form-control form-control-sm btn btn-primary">Reset</a>
                                                </div>
                                            </div>

                                            <!-- Full Filtering Section (Hidden on Mobile) -->
                                            <div id="filterSection" class="col-12 d-none d-md-flex">
                                                <!-- Filter by Status -->
                                                <div class="col-12 col-sm-6 col-md-1 mb-1">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="status"
                                                            class="custom-select custom-select-sm form-control form-control-sm">
                                                            {% if request.GET.status %}
                                                            <option value="{{request.GET.status}}" selected>
                                                                {{request.GET.status}}</option>
                                                            {% endif %}
                                                            <option value="All">All</option>
                                                            <option value="None">None</option>
                                                            <option value="Got Design">Got Design</option>
                                                            <option value="Processing">Processing</option>
                                                            <option value="Sample">Sample</option>
                                                            <option value="Packaging">Packaging</option>
                                                            <option value="Delivered">Delivered</option>
                                                            <option value="Return">Return</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <!-- Filter by Products -->
                                                <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                    <div class="form-group">
                                                        <label for="product">Product</label>
                                                        <select name="product" id="product"
                                                            class="custom-select custom-select-sm form-control form-control-sm">
                                                            <option value="">-- Select Product --</option>
                                                            {% for product in products %}
                                                            <option value="{{ product.id }}"
                                                            {% if request.GET.product == product.id|stringformat:"d" %}
                                                            selected
                                                            {% endif %}
                                                            >{{ product.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <!-- Filter by Date From -->
                                                <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                    <div class="form-group">
                                                        <label for="start_date">From:</label>
                                                        <input type="date" name="start_date" id="start_date"
                                                            class="form-control form-control-sm"
                                                            value="{{request.GET.start_date}}">
                                                    </div>
                                                </div>

                                                <!-- Filter by Date To -->
                                                <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                    <div class="form-group">
                                                        <label for="end_date">To:</label>
                                                        <input type="date" name="end_date" id="end_date"
                                                            class="form-control form-control-sm"
                                                            value="{{request.GET.end_date}}">
                                                    </div>
                                                </div>

                                                <!-- Filter by Work Assign -->
                                                <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                    <div class="form-group">
                                                        <label for="work_assign">Assign User</label>
                                                        <select name="work_assign" id="work_assign"
                                                            class="custom-select custom-select-sm form-control form-control-sm">
                                                            <option value="">-- Select User --</option>
                                                            {% for users in work_assign_choices %}
                                                            <option value="{{ users.id }}"
                                                            {% if request.GET.work_assign == users.id|stringformat:"d" %}
                                                            selected
                                                            {% endif %}
                                                            >{{ users.first_name }} {{ users.last_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                <!-- Search by Tracking ID or Customer Name -->
                                                <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                    <div class="form-group">
                                                        <label for="search">Search:</label>
                                                        <input type="text" name="search" id="search"
                                                            placeholder="Search by tracking ID or customer name"
                                                            class="form-control form-control-sm"
                                                            value="{{ request.GET.search }}">
                                                    </div>
                                                </div>


                                                <!-- Submit Button -->
                                                <div class="col-12 col-sm-6 col-md-1 mb-1">
                                                    <div class="form-group">
                                                        <label>&nbsp;</label>
                                                        <input type="submit"
                                                            class="form-control form-control-sm btn btn-primary"
                                                            aria-controls="dataTable" value="Search">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>

                                <script>
                                    document.getElementById('filterButton').addEventListener('click', function () {
                                        var filterSection = document.getElementById('filterSection');
                                        if (filterSection.classList.contains('d-none')) {
                                            filterSection.classList.remove('d-none');
                                            filterSection.classList.add('d-md-flex');
                                        } else {
                                            filterSection.classList.add('d-none');
                                            filterSection.classList.remove('d-md-flex');
                                        }
                                    });
                                </script>
                                
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <!-- <a href="?export=xlsx" class="btn btn-success">Download as Excel</a>
                                    <a href="?export=csv" class="btn btn-primary">Download as CSV</a> -->

                                        <button name="export" value="xlsx" class="btn btn-success">Download as
                                            Excel</button>
                                        <button name="export" value="csv" class="btn btn-primary">Download as
                                            CSV</button>

                                        <button name="urgent" value="true" class="btn btn{% if request.GET.urgent %}-danger{% endif %}">
                                            Urgent
                                        </button>
                                        
                                        <button name="today_orders" value="true" class="btn btn{% if request.GET.today_orders %}-danger{% endif %}">
                                            Today Orders
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- -------------Order Filtering Section------------- -->

                        <div id="bulkActionPanel" class="alert alert-warning d-none">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <b id="selectedCount">0</b> item selected
                                </div>

                                <div class="d-flex gap-2">
                                    <!-- custom-select custom-select-sm form-control form-control-sm -->
                                    <select id="bulkStatus" class="form-select">
                                        <option value="">-- Select Status --</option>
                                        <option value="None">None</option>
                                        <option value="Got Design">Got Design</option>
                                        <option value="Processing">Processing</option>
                                        <option value="Sample">Sample</option>
                                        <option value="Packaging">Packaging</option>
                                        <option value="Delivered">Delivered</option>
                                        <option value="Return">Return</option>
                                    </select>

                                    <button id="bulkUpdateBtn" class="btn btn-primary">
                                        Apply
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- -------------Order Section------------- -->
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 table-container">
                                        <table class="table table-bordered dataTable no-footer" id="dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                                            <thead>
                                                <tr class="text-uppercase" role="row">
                                                    <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                        <input type="checkbox" name="select_all" id="select_all">
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">
                                                        Action
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Created Date: activate to sort column ascending">
                                                        Date
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: fixed;">
                                                        ID
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Company: activate to sort column ascending">
                                                        Company
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">
                                                        Name
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Product: activate to sort column ascending">
                                                        Product
                                                    </th>

                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Phone Number: activate to sort column ascending">
                                                        Phone Number
                                                    </th>
                                                    {% endif %}

                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Quantity: activate to sort column ascending">
                                                        Quantity
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">
                                                        Status
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Note: activate to sort column ascending">
                                                        Note
                                                    </th>

                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Work Assign: activate to sort column ascending">
                                                        Work Assign
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending">
                                                        Address
                                                    </th>
                                                    {% endif %}

                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Delivery Date: activate to sort column ascending">
                                                        Delivery Date
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Design File: activate to sort column ascending">
                                                        Design File
                                                    </th>

                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Deal Value: activate to sort column ascending">
                                                        Deal Value
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Due Amount: activate to sort column ascending">
                                                        Due Amount
                                                    </th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Pathao ID: activate to sort column ascending">
                                                        SteadFast ID
                                                    </th>
                                                    {% endif %}
                                                    
                                                </tr>
                                            </thead>
                                
                                            <tbody>
                                                
                                                
                                                {% include 'orderr/order_table_body.html' %}
                                                <div id="loading-icon" style="display: none; text-align: center;">
                                                    <img src="{% static 'assets/img/loading.gif' %}" alt="Loading..." />
                                                </div>
                                                

                                                <script>
                                                    $(document).ready(function () {
                                                        $(".update-order-btn").click(function () {
                                                            const orderId = $(this).data("order-id");
                                                            const form = $(`#update-order-form-${orderId}`);
                                                            const formData = form.serialize();
                                                            const button = $(this);
                                                            button.prop("disabled", true).text("Updating...");

                                                            $.ajax({
                                                                url: `/update-order/${orderId}/`,
                                                                type: "POST",
                                                                data: formData,
                                                                headers: {
                                                                    "X-CSRFToken": form.find('input[name="csrfmiddlewaretoken"]').val(),
                                                                },
                                                                success: function (response) {
                                                                    alert("Order updated successfully!");
                                                                    button.prop("disabled", false).text("Update");
                                                                },
                                                                error: function (xhr, status, error) {
                                                                    alert("An error occurred: " + xhr.responseText);
                                                                },
                                                            });
                                                        });
                                                    });
                                                </script>

                                                <!---->
                                            </tbody>
                                
                                            
                                            <tfoot>
                                                <tr role="row" class="odd">
                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <td colspan="7" class="text-right">
                                                        Total
                                                    </td>
                                                    {% else %}
                                                    <td colspan="6" class="text-right">
                                                        Total
                                                    </td>
                                                    {% endif %}
                                
                                                    <td><strong>{{ total_quantity }}</strong></td>

                                                    {% if request.user.user_type != 'Factory Staff' %}
                                                    <td colspan="6" class="text-right"></td>
                                                    <td><strong>{{ total_deal_value }}</strong></td>
                                                    <td><strong>{{ total_due_amount }}</strong></td>
                                                    <td colspan="1"></td>
                                                    {% else %}
                                                    <td colspan="4" class="text-right"></td>
                                                    {% endif %}
                                                    
                                                </tr>
                                            </tfoot>
                                        </table>

                                        <script>
                                            document.addEventListener("DOMContentLoaded", function () {
                                                const selectAllCheckbox = document.getElementById("select_all");
                                                const checkboxes = document.querySelectorAll('input[type="checkbox"][id^="select_id_"]');

                                                const bulkPanel = document.getElementById("bulkActionPanel");
                                                const selectedCount = document.getElementById("selectedCount");

                                                // Update panel visibility------------
                                                function updatePanel() {
                                                    const selected = document.querySelectorAll('input[type="checkbox"][id^="select_id_"]:checked').length;
                                                    if (selected > 0) {
                                                        selectedCount.textContent = selected;
                                                        bulkPanel.classList.remove("d-none");
                                                    } else {
                                                        bulkPanel.classList.add("d-none");
                                                    }
                                                    selectAllCheckbox.checked = (selected === checkboxes.length);
                                                }

                                                // Select All Logic---------------------
                                                selectAllCheckbox.addEventListener("change", function () {
                                                    checkboxes.forEach(cb => cb.checked = selectAllCheckbox.checked);
                                                    updatePanel();
                                                });

                                                // Individual Checkbox Logic-----------
                                                checkboxes.forEach(cb => {
                                                    cb.addEventListener("change", function () {
                                                        updatePanel();
                                                    });
                                                });


                                                // BULK UPDATE CALL
                                                document.getElementById("bulkUpdateBtn").addEventListener("click", function () {
                                                    const status = document.getElementById("bulkStatus").value;

                                                    if (!status) {
                                                        alert("Please select a status.");
                                                        return;
                                                    }

                                                    const selectedIds = Array.from(checkboxes)
                                                        .filter(cb => cb.checked)
                                                        .map(cb => cb.id.replace("select_id_", ""));

                                                    if (selectedIds.length === 0) {
                                                        alert("No items selected.");
                                                        return;
                                                    }
                                                    // console.log("selectedIds: ", selectedIds)
                                                    // AJAX Post to Backend
                                                    fetch("/api/v1/order-buld-update/", {
                                                        method: "POST",
                                                        headers: {
                                                            "Content-Type": "application/json",
                                                            "X-CSRFToken": "{{ csrf_token }}",
                                                        },
                                                        body: JSON.stringify({
                                                            status: status,
                                                            order_ids: selectedIds
                                                        })
                                                    })
                                                    .then(res => res.json())
                                                    .then(data => {
                                                        if (data.status) {
                                                            alert(data.message);
                                                            location.reload();
                                                        } else {
                                                            alert(data.message);
                                                        }
                                                    })
                                                    .catch(err => console.log(err));
                                                });

                                            });
                                        </script>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -------------Order Section------------- -->

                        <!-- -------------Pagination Section------------- -->
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="dataTable_info" role="status"
                                        aria-live="polite">
                                        Showing {{page_obj.start_index}} to {{page_obj.end_index}} of
                                        {{page_obj.paginator.count}} entries
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                        <ul class="pagination">
                                            <!-- Previous button -->
                                            {% if page_obj.has_previous %}
                                            <li class="paginate_button page-item">
                                                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.product %}&product={{ request.GET.product }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.work_assign %}&work_assign={{ request.GET.work_assign }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.today_orders %}&today_orders={{ request.GET.today_orders }}{% endif %}"
                                                    class="page-link">Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="paginate_button page-item disabled">
                                                <a href="#" class="page-link">Previous</a>
                                            </li>
                                            {% endif %}

                                            <!-- Page numbers with ellipses -->
                                            {% for num in page_obj.paginator.page_range %}
                                                {% if num == 1 or num == page_obj.paginator.num_pages %}
                                                    <!-- Always show the first and last pages -->
                                                    <li class="paginate_button page-item{% if page_obj.number == num %} active{% endif %}">
                                                        <a href="?page={{ num }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.product %}&product={{ request.GET.product }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.work_assign %}&work_assign={{ request.GET.work_assign }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.today_orders %}&today_orders={{ request.GET.today_orders }}{% endif %}"
                                                        class="page-link">{{ num }}</a>
                                                    </li>
                                                {% elif num >= page_obj.number|add:"-3" and num <= page_obj.number|add:"3" %}
                                                    <!-- Show pages around the current page -->
                                                    <li class="paginate_button page-item{% if page_obj.number == num %} active{% endif %}">
                                                        <a href="?page={{ num }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.product %}&product={{ request.GET.product }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.work_assign %}&work_assign={{ request.GET.work_assign }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.today_orders %}&today_orders={{ request.GET.today_orders }}{% endif %}"
                                                        class="page-link">{{ num }}</a>
                                                    </li>
                                                {% elif num == 2 or num == page_obj.paginator.num_pages|add:"-1" %}
                                                    <!-- Display ellipses for gaps in pagination -->
                                                    <li class="paginate_button page-item disabled">
                                                        <a href="#" class="page-link">...</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            <!-- Next button -->
                                            {% if page_obj.has_next %}
                                            <li class="paginate_button page-item">
                                                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.product %}&product={{ request.GET.product }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.work_assign %}&work_assign={{ request.GET.work_assign }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.today_orders %}&today_orders={{ request.GET.today_orders }}{% endif %}"
                                                    class="page-link">Next</a>
                                            </li>
                                            {% else %}
                                            <li class="paginate_button page-item disabled">
                                                <a href="#" class="page-link">Next</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -------------Pagination Section------------- -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock dashboard_body %}