<!-- Order Request Edit Modal -->
<div class="modal fade" id="edit_order_request" tabindex="-1" role="dialog" aria-labelledby="edit_orderLabel"
    aria-hidden="true">
    <form method="POST">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Update Order Request</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tracking ID</label>
                                <input readonly type="text" class="form-control" value="{{order_request.tracking_ID}}" name="tracking_id">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.status.label}}
                                {{form.status}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.company.label}}
                                {{form.company}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.name.label}}
                                {{form.name}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.phone_number.label}}
                                {{form.phone_number}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.second_phone_number.label}}
                                {{form.second_phone_number}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.email.label}}
                                {{form.email}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                {{form.second_phone_number.label}}
                                {{form.second_phone_number}}
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.source.label}}
                                {{form.source}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Work Assign</label>
                                {{form.work_assign}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Remark</label>
                        {{form.remark}}
                    </div>
                    <div class="form-group">
                        {{form.product.label}}
                        {{form.product}}
                    </div>
                    <div class="form-group">
                        {{form.created_at.label}}
                        {{form.created_at}}
                    </div>
                    <div class="form-group">
                        <label>Last Updated Date</label>
                        <input type="text" class="form-control" value="{{order_request.last_update}}" name="last_update"
                            readonly>
                    </div>
                    <div class="form-group">
                        <p>Is it urgent? {{form.urgent}}</p>
                    </div>
                </div>

                {% if order.status != 'Delivered' %}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                {% endif %}


            </div>
        </div>
    </form>
</div>
<!-- Order Request Edit Modal -->




<!-- Place Order Modal -->
<div class="modal fade" id="PlaceOrderModel" tabindex="-1" role="dialog" aria-labelledby="edit_orderLabel"
    aria-hidden="true">
    <form method="POST" action="{% url 'request_to_order' order_request.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Create Order For Request</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>


                <div class="modal-body">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tracking ID</label>
                                <input type="text" class="form-control" value="{{order_request.tracking_ID}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control" value="{{order_request.company}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" value="{{order_request.name}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" value="{{order_request.phone_number}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" value="{{order_request.email}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" value="{{order_request.phone_number}}" readonly>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form2.delivery_address.label}}
                                {{form2.delivery_address}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form2.design_file.label}}
                                {{form2.design_file}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form2.order_date.label}}
                                {{form2.order_date}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is it Urgent?</label>
                                {{form2.urgent}}
                            </div>
                        </div>
                    </div>
  

                    <div class="form-group">
                        <label>{{form2.special_instructions.label}}</label>
                        {{form2.special_instructions}}
                    </div>

                    <hr style="height: 2px; background-color: black;">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.quantity.label}}</label>
                                {{form2.quantity}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.unit_price.label}}</label>
                                {{form2.unit_price}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.delivery_charge.label}}</label>
                                {{form2.delivery_charge}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.delivery_charge_cost.label}}</label>
                                {{form2.delivery_charge_cost}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.payment_status.label}}</label>
                                {{form2.payment_status}}
                            </div>
                        </div>
                    </div>



                    <hr style="height: 2px; background-color: black;">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.payment_method.label}}</label>
                                {{form2.payment_method}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.advance_amount.label}}</label>
                                {{form2.advance_amount}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.payment_number.label}}</label>
                                {{form2.payment_number}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.transaction_id.label}}</label>
                                {{form2.transaction_id}}
                            </div>
                        </div>
                    </div>

                    <hr style="height: 2px; background-color: black;">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.status.label}}</label>
                                {{form2.status}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{form2.work_assign.label}}</label>
                                {{form2.work_assign}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{form2.remark.label}}</label>
                        {{form2.remark}}
                    </div>
                    <div class="form-group">
                        <label>{{form2.delivery_date.label}}</label>
                        {{form2.delivery_date}}
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create to Order</button>
                </div>


            </div>
        </div>
    </form>
</div>
<!-- Place Order Modal -->



<!-- Picture Edit Modal -->
<div class="modal fade" id="EditPictureLink" tabindex="-1" role="dialog" aria-labelledby="edit_orderLabel"
    aria-hidden="true">
    <form method="POST" action="{% url 'PictureUpdate' order_request.id %}">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Update Picture Link</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>


                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tracking ID</label>
                                <input readonly type="text" class="form-control" value="{{order_request.tracking_ID}}"
                                    name="tracking_id">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Update Date</label>
                                <input type="text" class="form-control" value="{{order_request.last_update}}"
                                    name="last_update" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.logo.label}}
                                {{form3.logo}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.picture1.label}}
                                {{form3.picture1}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.picture2.label}}
                                {{form3.picture2}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.picture3.label}}
                                {{form3.picture3}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.picture4.label}}
                                {{form3.picture4}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.picture5.label}}
                                {{form3.picture5}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Picture Update</button>
                </div>


            </div>
        </div>
    </form>
</div>
<!-- Picture Edit Modal -->



<!-- Customer Info Edit Modal -->
<div class="modal fade" id="CreateRequestRemainder" tabindex="-1" role="dialog" aria-labelledby="edit_orderLabel"
    aria-hidden="true">
    <form method="POST" action="{% url 'create_order_request_remainder' order_request.id %}">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Create Remainder</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>


                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" name="date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Remainder Note</label>
                                <textarea name="remainder_note" id="" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create Remainder</button>
                </div>


            </div>
        </div>
    </form>
</div>
<!-- Customer Info Edit Modal -->
