{% extends '../base.html' %}

{% block dashboard_title %}
<title>TRACKING_ID #{{order_request.tracking_ID}} Order Request - Pencilwood</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<main>
    <div class="container-fluid">
        <h3 class="mt-4">TRACKING_ID #{{order_request.tracking_ID}} Request</h3>

        <ol class="breadcrumb mb-4 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'order_request_list' %}">All Order Request</a></li>
            </div>
            <li class="breadcrumb-item ml-auto">
                <a href="{% url 'order_request_create' %}" class="btn btn-primary" style="margin-left: 10px;">Add
                    Request</a>
            </li>
        </ol>

        {% if messages %}
        {% for messages in messages %}
        <ol class="breadcrumb mb-4">
            <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
                <strong>Dear {{request.user}}!</strong> {{messages}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </ol>
        {% endfor %}
        {% endif %}


        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-table mr-1"></i>
                        TRACKING_ID #{{order_request.tracking_ID}} <sub>{{order_request.created_at}}</sub>
                    </div>
                    <div class="card-body">
                        <div class="card mb-4 order-list">
                            <div class="gold-members p-4">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-md-2 col-lg-2">
                                                {% if order_request.logo %}
                                                <div style="height: 100%;" class="pb-3">
                                                    <img src="{{order_request.logo}}" alt="" style="height: 100%;">
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-10 col-lg-10">
                                                <a>
                                                    <span class="float-right text-success">{{order_request.status}} on
                                                        {{order_request.last_update}}
                                                        <i class="fa fa-check-circle text-success"></i></span>
                                                </a>
                                                <p class="text-black-50 mb-1"><i class="fa fa-user"></i>
                                                    Company: {{order_request.company}} | Name: {{order_request.name}}
                                                </p>
                                                <p class="text-black-50 mb-1"><i class="fa fa-phone"></i>
                                                    Phone Number: {{order_request.phone_number}}
                                                </p>
                                                <p class="mb-0 text-dark text-dark pt-2"><span
                                                        class="text-dark font-weight-bold">
                                                        Request Create:
                                                        {{order_request.request_created_by.first_name}}
                                                        {{order_request.request_created_by.last_name}}
                                                </p>
                                                <p class="mb-0 text-dark text-dark pt-2"><span
                                                        class="text-dark font-weight-bold">
                                                        Work Assign:
                                                        {{order_request.work_assign.first_name}}
                                                        {{order_request.work_assign.last_name}}
                                                </p>
                                                <hr style="border-top: 5px solid rgb(0 0 0);">
                                                <div class="float-right">
                                                    <a class="btn btn-sm btn-warning">
                                                        <i class="fa fa-message"></i> Source: {{order_request.source}}
                                                    </a>
                                                    <a class="btn btn-sm btn-success">
                                                        <i class="fa fa-check-circle"></i> {{order_request.status}}
                                                    </a>
                                                    <a href="#0" class="btn btn-sm btn-info" data-toggle="modal"
                                                        data-target="#edit_order_request">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                    <a href="{% url 'order_request_delete' order_request.id %}"
                                                        class="btn btn-sm btn-danger">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>

                                                    {% if order_request.order_created %}
                                                    <a href="{% url 'order_view' order_request.order.id %}"
                                                        class="btn btn-sm btn-dark">
                                                        <i class="fa fa-open"></i> Go to Order
                                                    </a>
                                                    {% endif %}

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- -------Order Details Section Start------- -->
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width: 150px; white-space: nowrap;">Title</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="white-space: nowrap;">Product</td>
                                        <td style="white-space: nowrap;">
                                            {% for product in order_request.product.all %}
                                            {{ product.name }},
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="white-space: nowrap;">Remark</td>
                                        <td style="white-space: nowrap;">
                                            {{ order_request.remark }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- -------Order Details Section End------- -->

                        <!-- -----------------Image Details Start----------------- -->
                        <style>
                            .image-container {
                                display: grid;
                                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                                gap: 10px;
                                padding: 10px;
                                background: #cbb9d075;
                                border-radius: 5px;

                            }

                            .image-box {
                                overflow: hidden;
                                border-radius: 10px;
                                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                                transition: transform 0.3s ease;
                            }

                            .image-box img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                            }

                            .image-box:hover {
                                transform: scale(1.05);
                            }

                            /* Media queries to make it more responsive */
                            @media (max-width: 768px) {
                                .image-container {
                                    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
                                }
                            }

                            @media (max-width: 480px) {
                                .image-container {
                                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                                }
                            }
                        </style>
                        <div class="image-container">
                            <div class="image-box">
                                <img src="
                                    {% if order_request.picture1 %}
                                    {{order_request.picture1}}
                                    {% endif %}
                                    " alt="Picture 1">
                            </div>
                            <div class="image-box">
                                <img src="
                                    {% if order_request.picture2 %}
                                    {{order_request.picture2}}
                                    {% endif %}
                                    " alt="Picture 2">
                            </div>
                            <div class="image-box">
                                <img src="
                                    {% if order_request.picture3 %}
                                    {{order_request.picture3}}
                                    {% endif %}
                                    " alt="Picture 3">
                            </div>
                            <div class="image-box">
                                <img src="
                                    {% if order_request.picture4 %}
                                    {{order_request.picture4}}
                                    {% endif %}
                                    " alt="Picture 4">
                            </div>
                            <div class="image-box">
                                <img src="
                                    {% if order_request.picture5 %}
                                    {{order_request.picture5}}
                                    {% endif %}
                                    " alt="Picture 5">
                            </div>
                        </div>
                        <div>
                            <a href="#0" class="btn btn-sm btn-info" data-toggle="modal" data-target="#EditPictureLink">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </div>
                        <!-- -----------------Image Details End----------------- -->

                    </div>
                </div>
            </div>


            <!-- -------Place Order Section Start------- -->
            {% if order_request.status == 'Done' or order_request.order_created %}
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row justify-content-end total_order">
                            <div class="col-xl-3 col-lg-4 col-md-5">

                                {% if order_request.order_created %}
                                <a href="{% url 'order_view' order_request.order.id %}"
                                    class="btn btn-primary btn-block">Go to Order</a>
                                {% else %}
                                <a href="#0" data-toggle="modal" data-target="#PlaceOrderModel"
                                    class="btn btn-success btn-block">Place Order</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- -------Place Order Section End------- -->

        </div>
    </div>
</main>


{% include './model_box.html' %}


{% endblock dashboard_body %}