{% extends '../base.html' %}

{% block dashboard_title %}
<title>Add Order Request - Pencilwood</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<main>
    <form method="POST">
        {% csrf_token %}
        <div class="container-fluid">
            <h1 class="mt-4">Add Order Request</h1>
            <ol class="breadcrumb mb-4 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'order_request_list' %}">All Order Request</a></li>
                </div>
                <li class="breadcrumb-item ml-auto">
                    <a href="{% url 'order_request_create' %}" class="btn btn-primary" style="margin-left: 10px;">Add
                        Request</a>
                </li>
            </ol>


            <div class="row">

                <!-- ---------------Person Info Start--------------- -->
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            Personal Info
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{form.company.label}}</label>
                                        {{form.company}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{form.name.label}}</label>
                                        {{form.name}}
                                    </div>
                                </div>
                            </div>
                            <!-- /row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{form.phone_number.label}}</label>
                                        {{form.phone_number}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{form.source.label}}</label>
                                        {{form.source}}
                                    </div>
                                </div>
                            </div>
                            <!-- /row-->
                        </div>
                    </div>
                </div>
                <!-- ---------------Person Info End--------------- -->

                <!-- ---------------Product & Status Info Start--------------- -->
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            Product & Status info
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{form.product.label}}</label>
                                        {{form.product}}
                                    </div>
                                </div>
                            </div>
                            <!-- /row-->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{form.status.label}}</label>
                                        {{form.status}}
                                    </div>
                                </div>
                            </div>
                            <!-- /row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{form.remark.label}}</label>
                                        {{form.remark}}
                                    </div>
                                </div>
                            </div>
                            <!-- /row-->



                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{form.logo.label}} (Optional)</label>
                                        {{form.logo}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{form.picture1.label}} (Optional)</label>
                                        {{form.picture1}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{form.picture2.label}} (Optional)</label>
                                        {{form.picture2}}
                                    </div>
                                </div>
                            </div>
                            <!-- /row-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{form.picture3.label}} (Optional)</label>
                                        {{form.picture3}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{form.picture4.label}} (Optional)</label>
                                        {{form.picture4}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{form.picture5.label}} (Optional)</label>
                                        {{form.picture5}}
                                    </div>
                                </div>
                            </div>
                            <!-- /row-->

                        </div>
                    </div>
                </div>
                <!-- ---------------Product & Status Info Start--------------- -->

            </div>
            <div class="text-right mb-4">
                <button type="submit" class="btn btn-success">
                    <i class="feather-send"></i> SAVE
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock dashboard_body %}