/* Set the table container to have a fixed height */
.table-container {
    height: 500px;
    overflow-y: auto;
    /* border: 1px solid #ddd; */
}

/* Ensure table headers and footers remain sticky */
.table thead th,
.table tfoot td {
    position: sticky;
    z-index: 2;
    background: white; /* Or any desired background color */
}

.table thead th {
    top: 0; /* Sticky position at the top */
}

.table tfoot td {
    bottom: 0; /* Sticky position at the bottom */
}

/* Prevent table layout from breaking */
.table {
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
}

.table th {
    background-color: #f9f9f9;
}



/* Styles for alternating rows */
table tbody tr.odd-row td {
    background-color: #ffffff !important; /* White */
}

table tbody tr.even-row td {
    background-color: #ebe5e5 !important; /* Light gray */
}





