{% extends '../base.html' %}

{% block dashboard_title %}
<title>Product - Pencilwood</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<main>
    <div class="container-fluid" style="text-align: center;padding: 50px;">
        <h1 class="mt-4">Delete Product</h1>
        <p>Are you sure you want to delete "{{ object.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn-primary">Confirm</button>
            <a href="{% url 'product_list' %}">Cancel</a>
        </form>
    </div>
</main>
{% endblock dashboard_body %}