<!-- Order Edit Modal -->
<div class="modal fade" id="edit_order" tabindex="-1" role="dialog" aria-labelledby="edit_orderLabel"
    aria-hidden="true">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Update Order</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- {{form.as_p}} -->

                    <div class="form-group">
                        <label>Tracking ID</label>
                        <input readonly type="text" class="form-control" value="{{order.tracking_ID}}"
                            name="tracking_id">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        {{form.status}}
                    </div>
                    <div class="form-group">
                        <label>Work Assign</label>
                        {{form.work_assign}}
                    </div>
                    <div class="form-group">
                        <label>Delivery Address</label>
                        {{form.delivery_address}}
                    </div>
                    <div class="form-group">
                        {{form.design_file.label}}
                        {{form.design_file}}
                    </div>
                    <div class="form-group">
                        <label>Remark</label>
                        {{form.remark}}
                    </div>
                    <div class="form-group">
                        <label>Approximately Delivery Date</label>
                        {{form.delivery_date}}
                    </div>
                    <div class="form-group">
                        <label>Last Update Date</label>
                        <input type="text" class="form-control" value="{{order.last_update}}" name="last_update"
                            readonly>
                    </div>
                    <div class="form-group">
                        <p>Is it urgent? {{form.urgent}}</p>
                    </div>
                </div>

                {% if order.status != 'Delivered' %}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                {% endif %}


            </div>
        </div>
    </form>
</div>
<!-- Order Edit Modal -->


{% if form3 %}
<!-- Customer Info Edit Modal -->
<div class="modal fade" id="EditCustomerInfo" tabindex="-1" role="dialog" aria-labelledby="edit_orderLabel"
    aria-hidden="true">
    <form method="POST" action="{% url 'CustomerOrderInfoUpdate' order.id %}">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_bookingLabel">Updated Customer Info Details</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>


                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tracking ID</label>
                                <input readonly type="text" class="form-control" value="{{order.tracking_ID}}"
                                    name="tracking_id">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Update Date</label>
                                <input type="text" class="form-control" value="{{order.last_update}}" name="last_update"
                                    readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.company.label}}
                                {{form3.company}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.name.label}}
                                {{form3.name}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.phone_number.label}}
                                {{form3.phone_number}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.second_phone_number.label}}
                                {{form3.second_phone_number}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.source.label}}
                                {{form3.source}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.logo.label}}
                                {{form3.logo}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form3.picture1.label}}
                                {{form3.picture1}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{form3.product.label}}
                                {{form3.product}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">INFO UPDATE</button>
                </div>


            </div>
        </div>
    </form>
</div>
<!-- Customer Info Edit Modal -->
 {% endif %}


