{% extends '../base.html' %}

{% block dashboard_title %}
<title>ORDER_ID#{{order.tracking_ID}} - Pencilwood</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<main>
    <div class="container-fluid">
        <h3 class="mt-4">ORDER_ID#{{order.tracking_ID}} {% if order.urgent %}<p>(Urgent)</p>{% endif %}</h3>

        <ol class="breadcrumb mb-4 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'order_list' %}">All Order</a></li>
            </div>
            <li class="breadcrumb-item ml-auto">
                <a href="{% url 'add_new_order' %}" class="btn btn-primary" style="margin-left: 10px;">
                    Add Order
                </a>
                <a href="{% url 'generate_pdf' id=order.id %}" target="_blank"  class="btn btn-primary" style="margin-left: 10px;">
                    Print Invoice
                </a>
            </li>
        </ol>

        {% if messages %}
        {% for messages in messages %}
        <ol class="breadcrumb mb-4">
            <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
                <strong>Dear {{request.user}}!</strong> {{messages|linebreaksbr}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </ol>
        {% endfor %}
        {% endif %}


        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-table mr-1"></i>
                        ORDER_ID #{{order.tracking_ID}} <sub>{{order.order_date}}</sub>
                    </div>
                    <div class="card-body">

                        
                        <div class="card mb-4 order-list">
                            <div class="gold-members p-4">
                                <div class="media">
                                    <div class="media-body">

                                        <!-- -------------Order Header Section Start----------- -->
                                        <div class="row">
                                            <div class="col-md-2 col-lg-2">


                                                <div style="height: 100%;" class="pb-3">
                                                    {% if order.request_order %}
                                                    <img src="{{order.request_order.logo}}" alt=""
                                                        style="height: 100%;">
                                                    {% else %}
                                                    <img src="{{order.order_customer.logo}}" alt=""
                                                        style="height: 100%;">
                                                    {% endif %}
                                                </div>

                                            </div>
                                            <div class="col-md-10 col-lg-10">
                                                <a>
                                                    <span class="float-right text-success">{{order.status}} on
                                                        {{order.last_update}}
                                                        <i class="fa fa-check-circle text-success"></i></span>
                                                </a>


                                                <p class="text-black-50 mb-1"><i class="fa fa-user"></i>
                                                    Company:
                                                    {% if order.request_order %}
                                                    {{order.request_order.company}} | Name: {{order.request_order.name}}
                                                    {% else %}
                                                    {{order.order_customer.company}} | Name:
                                                    {{order.order_customer.name}}
                                                    {% endif %}
                                                </p>
                                                <p class="text-black-50 mb-1"><i class="fa fa-phone"></i>
                                                    Phone Number:
                                                    {% if order.request_order %}
                                                    {{order.request_order.phone_number}}{% if order.request_order.second_phone_number %}, {{order.request_order.second_phone_number}}{% endif %}
                                                    {% else %}
                                                    {{order.order_customer.phone_number}}{% if order.order_customer.second_phone_number %}, {{order.order_customer.second_phone_number}}{% endif %}
                                                    {% endif %}
                                                </p>


                                                <p class="mb-0 text-dark text-dark pt-2"><span
                                                        class="text-dark font-weight-bold">
                                                        Work Assign:
                                                        {{order.work_assign}}
                                                </p>
                                                <p class="mb-0 text-dark text-dark pt-2"><span
                                                        class="text-dark font-weight-bold">
                                                        Approximately Delivery Date:
                                                        {{order.delivery_date}}
                                                </p>
                                                <hr style="border-top: 5px solid rgb(0 0 0);">
                                                <div class="float-right">
                                                    <a href="{% url 'order_delete' order.id %}"
                                                        class="btn btn-danger btn-sm">
                                                        Delete
                                                    </a>
                                                    <a class="btn btn-sm btn-warning">
                                                        {% if order.payment_status == 'Paid' %}
                                                        <i class="fa fa-check-circle"></i>
                                                        Paid
                                                        {% else %}
                                                        <i class="fa fa-xmark"></i>
                                                        Unpaid
                                                        {% endif %}
                                                    </a>
                                                    <a class="btn btn-sm btn-success">
                                                        <i class="fa fa-check-circle"></i> {{order.status}}
                                                    </a>
                                                    <a href="#0" class="btn btn-sm btn-info" data-toggle="modal"
                                                        data-target="#edit_order">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                    {% if form3 %}
                                                    <a href="#0" class="btn btn-sm btn-info" data-toggle="modal"
                                                        data-target="#EditCustomerInfo">
                                                        <i class="fa fa-edit"></i> Edit Customer Info
                                                    </a>
                                                    {% else %}
                                                    <a href="{% url 'order_request_view' order.request_order.id %}" class="btn btn-sm btn-info">
                                                        <i class="fa fa-go"></i> Edit Order Request
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- -------------Order Header Section End----------- -->


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- -----------------Order Details Start----------------- -->
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width: 150px; white-space: nowrap;">Title</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="white-space: nowrap;">Delivery Address</td>
                                        <td style="white-space: nowrap;">
                                            {{ order.delivery_address }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="white-space: nowrap;">Design File</td>
                                        <td style="white-space: nowrap;">
                                            {% if order.design_file %}
                                            <a href="{{ order.design_file.url }}" target="_blank">Open File</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="white-space: nowrap;">Remark</td>
                                        <td style="white-space: nowrap;">
                                            {{ order.remark|linebreaksbr }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="white-space: nowrap;">Source</td>
                                        <td style="white-space: nowrap;">
                                            {% if order.request_order %}
                                            {{order.request_order.source}}
                                            {% else %}
                                            {{order.order_customer.source}}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="white-space: nowrap;">Special Instructions</td>
                                        <td style="white-space: nowrap;">
                                            {{ order.special_instructions }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- -----------------Order Details End----------------- -->


                        <!----------------- Payment Details Start ----------------->
                        {% if request.user.user_type != 'Factory Staff' %}
                        
                        <!-- Ensure jQuery is loaded -->
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                        <form id="update-payment-items-form" method="POST" action="{% url 'orderPaymentUpdate' order.id %}">
                            {% csrf_token %}
                            {{ item_formset.management_form }}
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th colspan="2">Title</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th colspan="2">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for form in item_formset %}
                                        <tr>
                                            {{ form.id }}
                                            <td style="width: 1%; text-align: center;">
                                                <a href="{% url 'DeleteOrderItem' form.instance.id %}"><i class="fa fa-trash"></i></a>
                                            </td>
                                            <td colspan="2">{{ form.instance.product.name }}</td>
                                            <td>{{ form.unit_price }}</td>
                                            <td>{{ form.quantity }}</td>
                                            <td colspan="2">
                                                <span class="total">{{ form.instance.total }} BDT</span>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        <tr>
                                            <td style="background-color: #8cef8c" colspan="4">Deal Value (Sum of OrderItem Totals)</td>
                                            <td style="background-color: #8cef8c" colspan="2">
                                                <span id="deal-value">{{ order.deal_value|default:"0" }} BDT</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="4">Shipping Charge (Collect)</td>
                                            <td colspan="2">
                                                <input type="number" id="delivery-charge" name="delivery_charge" value="{{ form2.delivery_charge.value }}" step="0.01" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Advanced Payment</td>
                                            <td colspan="2">
                                                <input type="number" id="advance-amount" name="advance_amount" value="{{ form2.advance_amount.value }}" step="0.01" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Total Due</td>
                                            <td colspan="2"><span id="total-due">{{ order.due_amount|default:"0" }} BDT</span></td>
                                        </tr>

                                        <tr>
                                            <td style="background-color: #8cef8c"  colspan="2">Shipping Charge (Cost)</td>
                                            <td style="background-color: #8cef8c"  colspan="1">
                                                <input type="number" id="delivery-charge-cost" name="delivery_charge_cost" value="{{ form2.delivery_charge_cost.value }}" step="0.01" class="form-control">
                                            </td>
                                            <td style="background-color: #8cef8c"  colspan="2">Total Amount</td>
                                            <td style="background-color: #8cef8c"  colspan="1">
                                                <!-- {{ order.total_amount|default:"0" }} BDT -->
                                                <span id="total-amount">{{ order.total_amount|default:"0" }} BDT</span>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="6" style="text-align: center;">
                                                <button type="submit" class="btn btn-primary">Update Payment and Items</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        
                        <!-- JavaScript for real-time calculation and AJAX submission -->
                        <script>
                            $(document).ready(function() {
                                function updateTotals() {
                                    let dealValue = 0;

                                    // Calculate deal_value as the sum of OrderItem totals
                                    $('tr').each(function() {
                                        let unitPrice = parseFloat($(this).find('input[name$="-unit_price"]').val()) || 0;
                                        let quantity = parseInt($(this).find('input[name$="-quantity"]').val()) || 0;
                                        let total = (unitPrice * quantity).toFixed(2);

                                        // Update item total
                                        $(this).find('.total').text(`${total} BDT`);

                                        // Add to dealValue
                                        dealValue += parseFloat(total);
                                        
                                    });

                                    // Update Deal Value (deal_value)
                                    $('#deal-value').text(`${dealValue.toFixed(2)} BDT`);

                                    // Calculate Total Due based on deal_value, delivery_charge, and advance_amount
                                    let deliveryCharge = parseFloat($('#delivery-charge').val()) || 0;
                                    let advanceAmount = parseFloat($('#advance-amount').val()) || 0;
                                    let totalDue = (dealValue + deliveryCharge - advanceAmount).toFixed(2);

                                    let deliveryChargeCost = parseFloat($('#delivery-charge-cost').val()) || 0;
                                    let totalAmount = (deliveryCharge - deliveryChargeCost + dealValue).toFixed(2);

                                    // Update Total Due
                                    $('#total-due').text(`${totalDue} BDT`);
                                    $('#total-amount').text(`${totalAmount} BDT`);
                                }

                                // Trigger updateTotals on input change in relevant fields
                                $('input[name$="-unit_price"], input[name$="-quantity"], #delivery-charge, #advance-amount').on('input', updateTotals);
                                $('input[name$="-unit_price"], input[name$="-quantity"], #delivery-charge, #advance-amount, #delivery-charge-cost').on('input', updateTotals);


                                // AJAX form submission
                                $('#update-payment-items-form').on('submit', function(e) {
                                    e.preventDefault();
                                    $.ajax({
                                        url: $(this).attr('action'),
                                        type: 'POST',
                                        data: $(this).serialize(),
                                        success: function(response) {
                                            alert(response.message); // Show success message
                                        },
                                        error: function(xhr) {
                                            console.error('Error Details:', xhr); // Full response for debugging
                                            alert('Something went wrong. Please try again.');
                                        }
                                    });
                                });
                            });
                        </script>

                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th colspan="2">Title</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in order.order_item.all %}
                                <tr>
                                    <td colspan="2">{{ order_item.product.name }}</td>
                                    <td>{{ order_item.unit_price }}</td>
                                    <td>{{ order_item.quantity }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        <!----------------- Payment Details End ----------------->



                        <!-- -----------------Image Details Start----------------- -->
                        <style>
                            .image-container {
                                display: grid;
                                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                                gap: 10px;
                                padding: 10px;
                                background: #cbb9d075;
                                border-radius: 5px;

                            }

                            .image-box {
                                overflow: hidden;
                                border-radius: 10px;
                                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                                transition: transform 0.3s ease;
                            }

                            .image-box img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                            }

                            .image-box:hover {
                                transform: scale(1.05);
                            }

                            /* Media queries to make it more responsive */
                            @media (max-width: 768px) {
                                .image-container {
                                    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
                                }
                            }

                            @media (max-width: 480px) {
                                .image-container {
                                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                                }
                            }
                        </style>
                        <div class="image-container">
                            <div class="image-box">
                                <img src="
                                    {% if order.request_order.picture1 %}
                                    {{order.request_order.picture1}}
                                    {% endif %}

                                    {% if order.order_customer.picture1 %}
                                    {{order.order_customer.picture1}}
                                    {% endif %}
                                    " alt="Picture 1">
                            </div>
                            <div class="image-box">
                                <img src="
                                    {% if order.request_order.picture2 %}
                                    {{order.request_order.picture2}}
                                    {% endif %}
                                    " alt="Picture 2">
                            </div>
                            <div class="image-box">
                                <img src="
                                    {% if order.request_order.picture3 %}
                                    {{order.request_order.picture3}}
                                    {% endif %}
                                    " alt="Picture 3">
                            </div>
                            <div class="image-box">
                                <img src="
                                    {% if order.request_order.picture4 %}
                                    {{order.request_order.picture4}}
                                    {% endif %}
                                    " alt="Picture 4">
                            </div>
                            <div class="image-box">
                                <img src="
                                    {% if order.request_order.picture5 %}
                                    {{order.request_order.picture5}}
                                    {% endif %}
                                    " alt="Picture 5">
                            </div>
                        </div>
                        <!-- -----------------Image Details End----------------- -->
                        

                    </div>
                </div>
            </div>

            
            <!-- -------Place Order Section Start------- -->
            {% if request.user.user_type != 'Factory Staff' %}
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row justify-content-end total_order">
                            <div class="col-xl-3 col-lg-4 col-md-5">
                                {% if order.pathao_parcel_id %}
                                <a href="https://merchant.pathao.com/courier/orders/{{order.pathao_parcel_id}}"
                                    class="btn btn-success btn-block" target="_blank">
                                    Go to Pathao Parcel
                                </a>
                                {% endif %}

                                {% if order.pathao_parcel_id %}
                                <a href="{% url 'create_pathao_parcel' order.id %}" class="btn btn-primary btn-block" id="create-pathao-parcel" style="pointer-events: none; opacity: 0.5;">
                                    Create Pathao Parcel Repeat
                                </a>
                                <p id="error-message" style="color: red; margin-top: 10px;"></p>
                                {% else %}
                                <a href="{% url 'create_pathao_parcel' order.id %}" class="btn btn-primary btn-block" id="create-pathao-parcel" style="pointer-events: none; opacity: 0.5;">
                                    Create Pathao Parcel
                                </a>
                                <p id="error-message" style="color: red; margin-top: 10px;"></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Hidden inputs or elements to simulate real-time values -->
            <input type="hidden" id="delivery-address" value="{{ order.delivery_address }}">
            <input type="hidden" id="phone-number" value="{{ order.request_order.phone_number }}">

            <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Get elements
                const button = document.getElementById('create-pathao-parcel');
                const deliveryAddress = document.getElementById('delivery-address');
                const phoneNumber = document.getElementById('phone-number');
                const errorMessage = document.getElementById('error-message');
            
                // Function to validate conditions and update error message
                function validateConditions() {
                    const addressValid = deliveryAddress.value.length > 10;
                    const phoneValid = phoneNumber.value.length === 11;
                    
                    if (addressValid && phoneValid) {
                        button.style.pointerEvents = 'auto'; // Enable clicking
                        button.style.opacity = '1';         // Reset opacity
                        errorMessage.textContent = '';      // Clear error message
                    } else {
                        button.style.pointerEvents = 'none'; // Disable clicking
                        button.style.opacity = '0.5';       // Dim button
                        if (!phoneValid) {
                            errorMessage.textContent = 'Phone number must be exactly 11 digits.';
                        } else if (!addressValid) {
                            errorMessage.textContent = 'Delivery address must be more than 10 words.';
                        }
                    }
                }
            
                // Run validation on page load
                validateConditions();
            
                // If these values are dynamically updated (e.g., through AJAX), attach event listeners
                deliveryAddress.addEventListener('input', validateConditions);
                phoneNumber.addEventListener('input', validateConditions);
            });
            </script>
            <!-- -------Place Order Section End------- -->


            <div style="display: flex; justify-content: space-between;">
                <p><b><i>Created By: {{ order.created_by }}</i></b></p>
                <p><b><i>Last Updated By: {{ order.last_updated_by }}</i></b></p>
            </div>

        </div>
    </div>
</main>


{% include './model_box.html' %}


{% endblock dashboard_body %}