{% extends '../base.html' %}

{% block dashboard_title %}
<title>Order - Pencilwood</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Order Listings</h1>


        <ol class="breadcrumb mb-4 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">All Order</li>
            </div>
            <li class="breadcrumb-item ml-auto">
                <a href="{% url 'add_new_order' %}" class="btn btn-primary" style="margin-left: 10px;">
                    Add Order
                </a>
            </li>
        </ol>


        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-table mr-1"></i>
                        All Order ({{orders.count}})
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">


                                <!-- -------------Order Filtering Section------------- -->
                                <div class="container-fluid">
                                    <form method="GET">
                                        <div class="row">

                                            <!-- Filter by Status -->
                                            <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                <div class="form-group">
                                                    <label for="status">Status</label>
                                                    <select name="status" id="status"
                                                        class="custom-select custom-select-sm form-control form-control-sm">
                                                        <option value="All">All</option>
                                                        <option value="Got Design">Got Design</option>
                                                        <option value="Cutting">Cutting</option>
                                                        <option value="Cutout Ready">Cutout Ready</option>
                                                        <option value="Engrave">Engrave</option>
                                                        <option value="Finishing">Finishing</option>
                                                        <option value="Packaging">Packaging</option>
                                                        <option value="Delivered">Delivered</option>
                                                        <option value="Return">Return</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- Filter by Products -->
                                            <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                <div class="form-group">
                                                    <label for="status">Product</label>
                                                    <select name="product" id="product"
                                                        class="custom-select custom-select-sm form-control form-control-sm">
                                                        <option value="">-- Select Product --</option>
                                                        <!-- Blank option -->
                                                        {% for product in products %}
                                                        <option value="{{ product.id }}">{{ product.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- Filter by Date From -->
                                            <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                <div class="form-group">
                                                    <label for="start_date">From:</label>
                                                    <input type="date" name="start_date" id="start_date"
                                                        class="form-control form-control-sm">
                                                </div>
                                            </div>

                                            <!-- Filter by Date To -->
                                            <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                <div class="form-group">
                                                    <label for="end_date">To:</label>
                                                    <input type="date" name="end_date" id="end_date"
                                                        class="form-control form-control-sm">
                                                </div>
                                            </div>

                                            <!-- Search by Tracking ID or Customer Name -->
                                            <div class="col-12 col-sm-6 col-md-2 mb-1">
                                                <div class="form-group">
                                                    <label for="search">Search:</label>
                                                    <input type="text" name="search" id="search"
                                                        placeholder="Search by tracking ID or customer name"
                                                        class="form-control form-control-sm">
                                                </div>
                                            </div>

                                            <!-- Submit Button -->
                                            <div class="col-12 col-sm-6 col-md-1 mb-1">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <input type="submit"
                                                        class="form-control form-control-sm btn btn-primary"
                                                        aria-controls="dataTable" value="Search">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-1 mb-1">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <a href="{% url 'order_list' %}"
                                                        class="form-control form-control-sm btn btn-primary">Reset</a>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <!-- -------------Order Filtering Section------------- -->


                                <!-- -------------Order Section------------- -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable no-footer" id="dataTable"
                                            width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                            style="width: 100%;">
                                            <thead>
                                                <tr class="text-uppercase" role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="ID: activate to sort column ascending"
                                                        style="width: fixed;">ID</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Company: activate to sort column ascending" ">Company</th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Name: activate to sort column ascending" ">Name</th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Product: activate to sort column ascending" ">Product</th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Status: activate to sort column ascending" ">Status</th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Deal Value: activate to sort column ascending" ">Deal Value</th>
                                                    <th class=" sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Created Date: activate to sort column ascending">
                                                        Created Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Action: activate to sort column ascending">Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!---->
                                                {% for order in orders %}
                                                <tr role="row" class="odd">
                                                    <td>
                                                        {{order.tracking_ID}}
                                                    </td>
                                                    <td>
                                                        {% if order.request_order %}
                                                        {{order.request_order.company}}
                                                        {% else %}
                                                        {{order.order_customer.company}}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if order.request_order %}
                                                        {{order.request_order.name}}
                                                        {% else %}
                                                        {{order.order_customer.name}}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if order.request_order %}
                                                        {% for product in order.request_order.product.all %}
                                                        {{product.name}},
                                                        {% endfor %}
                                                        {% else %}
                                                        {% for product in order.order_customer.product.all %}
                                                        {{product.name}},
                                                        {% endfor %}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{order.status}}
                                                    </td>
                                                    <td>
                                                        {{order.deal_value}}
                                                    </td>
                                                    <td>
                                                        {{order.order_date}}
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'order_view' order.id %}"
                                                            class="btn btn-primary btn-sm">
                                                            View
                                                        </a>
                                                        <!-- <a href=""
                                                            class="btn btn-primary btn-sm">
                                                            Delete
                                                        </a> -->
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <!---->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- -------------Order Section------------- -->


                                <!-- -------------Pagination Section------------- -->
                                <!-- <p>Total Orders: {{ orders.paginator.count }}</p>
                                <p>Orders per page: {{ orders.paginator.per_page }}</p>
                                <p>Total Pages: {{ orders.paginator.num_pages }}</p>
                                <p>Current Page: {{ orders.number }}</p>
                                <p>Has Next: {{ orders.has_next }}</p>
                                <p>Has Previous: {{ orders.has_previous }}</p> -->

                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="dataTable_info" role="status"
                                            aria-live="polite">
                                            Showing {{ orders.start_index }} to {{ orders.end_index }} of {{ orders.paginator.count }} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                            <ul class="pagination">
                                                <!-- Previous button -->
                                                {% if orders.has_previous %}
                                                <li class="paginate_button page-item">
                                                    <a href="?page={{ orders.previous_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                                                        class="page-link">Previous</a>
                                                </li>
                                                {% else %}
                                                <li class="paginate_button page-item disabled">
                                                    <a href="#" class="page-link">Previous</a>
                                                </li>
                                                {% endif %}

                                                <!-- Page numbers -->
                                                {% for num in orders.paginator.page_range %}
                                                {% if orders.number == num %}
                                                <li class="paginate_button page-item active">
                                                    <a href="#" class="page-link">{{ num }}</a>
                                                </li>
                                                {% else %}
                                                <li class="paginate_button page-item">
                                                    <a href="?page={{ num }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                                                        class="page-link">{{ num }}</a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}

                                                <!-- Next button -->
                                                {% if orders.has_next %}
                                                <li class="paginate_button page-item">
                                                    <a href="?page={{ orders.next_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                                                        class="page-link">Next</a>
                                                </li>
                                                {% else %}
                                                <li class="paginate_button page-item disabled">
                                                    <a href="#" class="page-link">Next</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- -------------Pagination Section------------- -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock dashboard_body %}