<style>
    .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        padding: 10px;
        background: #cbb9d075;
        border-radius: 5px;

    }

    .image-box {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .image-box:hover {
        transform: scale(1.05);
    }

    /* Media queries to make it more responsive */
    @media (max-width: 768px) {
        .image-container {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        }
    }

    @media (max-width: 480px) {
        .image-container {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }
</style>
<div class="image-container">
    <div class="image-box">
        <img src="
            {% if order.request_order.picture1 %}
            {{order.request_order.picture1}}
            {% endif %}

            {% if order.order_customer.picture1 %}
            {{order.order_customer.picture1}}
            {% endif %}
            " alt="Picture 1">
    </div>
    <div class="image-box">
        <img src="
            {% if order.request_order.picture2 %}
            {{order.request_order.picture2}}
            {% endif %}
            " alt="Picture 2">
    </div>
    <div class="image-box">
        <img src="
            {% if order.request_order.picture3 %}
            {{order.request_order.picture3}}
            {% endif %}
            " alt="Picture 3">
    </div>
    <div class="image-box">
        <img src="
            {% if order.request_order.picture4 %}
            {{order.request_order.picture4}}
            {% endif %}
            " alt="Picture 4">
    </div>
    <div class="image-box">
        <img src="
            {% if order.request_order.picture5 %}
            {{order.request_order.picture5}}
            {% endif %}
            " alt="Picture 5">
    </div>
</div>